name: Mirror to GitLab

on:
  push:
    branches: ["**"]
    tags: ["**"]
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (full history)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mirror push to GitLab
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        run: |
          set -e
          git remote add gitlab "https://oauth2:${GITLAB_TOKEN}@gitlab.com/anirudh363/bug-bounty.git"
          git push --mirror gitlab
